In [4]:
# You will need to import these libraries for the program to work
import requests
import pandas as pd
import numpy as np

In [15]:

# Read in the API key from the api.keys file in the same directory as this notebook.  Change if necessary
with open("api.keys", "r") as keyfile:
    api_key = keyfile.readlines()[1]

# Create a list for housing the dataframes collected from the API
dataframes = []
stock_list = ["META", "AAPL", "AMZN","NFLX", "GOOGL"]

# This is the for loop to get the dataframe.  You will need to place the api key variable in curly brackets in order for it to read correctly.
for stock_name in stock_list:
    url = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol=' + \
        stock_name + '&interval=1day&apikey={api_key}'
    r = requests.get(url)
    data = r.json()
    dataframe = pd.DataFrame.from_dict(data["Time Series (Daily)"]).transpose()
    dataframe.columns = ["Open", "High", "Low", "Close", "Adjusted Close", "Volume", "Dividend Amount", "Split Coefficient"]
    dataframe["Stock Name"] = stock_name
    dataframes.append(dataframe)

# Concatentate all of the dataframes into one large dataframe
final_dataframe = pd.concat(dataframes)

In [16]:
final_dataframe

,Open,High,Low,Close,Adjusted Close,Volume,Dividend Amount,Split Coefficient,Stock Name
2022-11-16,114.5,116.075,112.66,113.23,113.23,32439859,0.0000,1.0,META
2022-11-15,116.07,118.74,114.4116,117.08,117.08,50670499,0.0000,1.0,META
2022-11-14,110.99,116.27,110.8,114.22,114.22,53394974,0.0000,1.0,META
2022-11-11,109.23,114.9,108.81,113.02,113.02,59961742,0.0000,1.0,META
2022-11-10,107.12,112.75,104.61,111.87,111.87,80670961,0.0000,1.0,META
...,...,...,...,...,...,...,...,...,...
2022-07-05,2142.01,2267.535,2114.63,2265.26,113.263,1969982,0.0000,1.0,GOOGL
2022-07-01,2158.66,2185.0,2134.61,2174.75,108.7375,1773783,0.0000,1.0,GOOGL
2022-06-30,2200.0,2217.76,2135.0,2179.26,108.963,2158453,0.0000,1.0,GOOGL
2022-06-29,2231.04,2263.205,2217.4501,2234.03,111.7015,1235841,0.0000,1.0,GOOGL
2022-06-28,2316.05,2346.19,2236.96,2240.15,112.0075,1794048,0.0000,1.0,GOOGL

In [6]:
# Write the final dataframe to a file
with open("stockmarketdata.csv", "w") as file:
    file.write(final_dataframe.to_csv(lineterminator = '\n', index = True))