In [32]:
import requests
import pandas as pd
# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
with open("api.keys", "r") as keyfile:
    api_key = keyfile.readlines()[1]

url = 'https://www.alphavantage.co/query'

dataframes = []
stock_list = ["MSFT", "AAPL", "META", "NFLX"]
for stock_name in stock_list:
    url = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=' + \
        stock_name + '&interval=1day&apikey={api_key}'
    r = requests.get(url)
    data = r.json()
    dataframe = pd.DataFrame.from_dict(data["Time Series (Daily)"]).transpose()
    dataframe.columns = ["Open", "High", "Low", "Close", "Volume"]
    dataframe["Stock Name"] = stock_name
    dataframes.append(dataframe)
pd.concat(dataframes)

                Open      High       Low     Close    Volume Stock Name
2022-10-13  219.8500  236.1000  219.1300  234.2400  42498308       MSFT
2022-10-12  225.4000  227.8600  223.9600  225.7500  21903937       MSFT
2022-10-11  227.6200  229.0600  224.1100  225.4100  30473954       MSFT
2022-10-10  233.0500  234.5590  226.7300  229.2500  29743608       MSFT
2022-10-07  240.9020  241.3200  233.1700  234.2400  37769602       MSFT
...              ...       ...       ...       ...       ...        ...
2022-05-27  193.1900  195.2500  190.3722  195.1900   8585987       NFLX
2022-05-26  186.4900  192.3402  183.0916  191.4000   8049933       NFLX
2022-05-25  180.2800  188.8700  180.1700  187.8300   8522092       NFLX
2022-05-24  182.0000  184.0000  177.1700  180.3400   7706372       NFLX
2022-05-23  186.1500  187.6600  177.8900  187.4400   9602027       NFLX

[400 rows x 6 columns]

In [ ]:
with open("api.keys", "r") as keyfile:
    print(keyfile.readlines()[1])